<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>AddNumber</title>
</head>
<body>

<div style="text-align: center">
    <h1>Add number</h1>
    <form action="/contact/add" method="post" th:object="${contactForm}"><br>
        <input type="text" th:field="*{name}" placeholder="name"> <br>
        <input type="text" th:field="*{surname}" placeholder="surname"> <br>
        <input type="text" th:field="*{telNumber}" placeholder="tel number"> <br> <br>
        <input type="submit" value="add number">
    </form>
    <br>
    <a href="/contact/show">Show me contacts</a>
</div>

</body>
</html>